.content-container {
  position: relative;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  min-height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* @media screen and (max-width: 1080px) {
  .content-container {
    padding: 20px 250px;
  }
} */

@media screen and (max-width: 480px) {
  .content-container {
    padding: 5vh 0px 0px 0px;
    height: fit-content;
  }
}
