.content-container {
  margin: 20px 0px;
  text-align: center;
  justify-content: center;
  padding: 1rem;
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 1080px) {
    .content-container{
        margin: 20px 250px;
    }
}