.hamburger {
  z-index: 99;
  position: fixed;
  right: 0;
  top: 0;
  background-color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 300px;
  transform: translate3d(100vw, 0, 0);
  transition: transform 0.8s;
}

.hamburger a {
  text-align: center;
  width: 200px;
  font-size: 2rem;
  margin: 2rem 0;
  border-radius: 1rem;
  padding: 1rem;
  color: rgb(141, 141, 141);
  transition: border, background-color 0.5s;
}

.hamburger a:hover {
  background-color: rgb(93, 141, 255);
  border-radius: 1rem;
  color: white;
}

.open {
  transform: translate3d(0, 0, 0);
}

.hamburger button {
  padding: 1rem;
  margin: 2rem 0;
}

.hamburger button img {
  width: 2.5rem;
}
