.app {
  margin-top: 5vh;
  background-color: var(--background-primary);
  transition: all 1s;
}

.social-links-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

@media screen and (max-width: 480px) {
  .social-links-container {
    flex-direction: column;
  }
}

/* PROJECT CARDS */

.project-card {
  margin: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-secondary);
  flex: 2 0 39%;
  transition: box-shadow, transform 1s;
  box-shadow: 0px 5px 10px 3px #141414;
  flex-direction: column;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card a {
  font-size: 3rem;
  margin: 0.5rem;
}

@media screen and (max-width: 480px) {
  .project-card {
    height: 150px;
  }

  .project-card a {
    font-size: 1.5rem;
    margin: 0rem;
  }
}

.project-links-container {
  display: flex;
  flex-direction: row;
}

.project-tech-list {
  padding: 0px;
}

.project-tech-item {
  display: inline-block;
  border-radius: 0.5rem;
  margin: 5px;
  color: #141414;
  background-color: #fff;
}

.project-tech-item:hover {
  color: #141414;
  background-color: #fff;
}

.project-image{
  width: 100%;
}

/* 
.project-description{
} 
*/

/* PROJECT CONTAINER */

.project-container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .project-container {
    flex-direction: column;
  }
}

/* SVG LOGO */

.logo {
  height: 2rem;
  padding: 0px 10px;
}

/* TEXT STYLING */

.big-text {
  font-size: 3.2rem;
}

.small-text {
  font-size: small;
}

.italicized {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.thin {
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.outline {
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 2px var(--text-primary);
  -webkit-font-smoothing: antialiased;
}

/* Profile Picture */

.profile-picture{
  display: block;
  width: 30rem;
  border-radius: 50%;
}