.nav {
  border-bottom: 1px var(--background-secondary) solid;
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  padding: 10px 0px;
  height: 5vh;
  align-items: center;
  background-color: var(--background-secondary);
  color: rgb(102, 102, 102);
  justify-content: space-around;
  box-shadow: 0px 5px 10px 3px #141414;
  z-index: 99;
}

.nav p {
  padding: 0px 10px;
  margin: 0px;
}

.nav button {
  padding: 0px 10px;
  background-color: transparent;
  color: var(--text-secondary);
  margin: 0px;
}

.nav h1 {
  margin: 0px;
}

.nav-links {
  text-align: center;
  font-size: 1rem;
  border-radius: 1rem;
  padding: .5rem;
  color: var(--text-secondary);
  transition: border, background-color 0.5s;
  margin: 0 .15rem;
}

.nav-links:hover {
  background-color: rgb(93, 141, 255);
  border-radius: 1rem;
  color: white;
}

@media screen and (max-width: 480px) {
  .nav {
    justify-content: space-between;
  }
}
