.nav {
  border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
  position: fixed;
  display: flex;
  width: 100%;
  padding: 10px 0px;
  height: 5vh;
  align-items: center;
  background-color: rgb(197, 197, 197);
  color: rgb(102, 102, 102);
  justify-content: space-between;
}

.nav p {
  padding: 0px 10px;
  margin: 0px;
}

.nav button {
  padding: 0px 10px;
  background-color: transparent;
  color: rgb(102, 102, 102);
  margin: 0px;
}

.nav h1 {
  margin: 0px;
}
